@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>@hh</p>


<select @onchange="@xx">
    <option value="aaa">aaa</option>
    <option value="bbb">bbb</option>
    <option value="cccc">ccc</option>
</select>



@code{
    public string hh { get; set; } = "Ameen";


    public void xx(ChangeEventArgs e)
        {
        if(e.Value!=null)
            {
            hh = e.Value.ToString();
            StateHasChanged();
            }
        }
}
 
